*
  box-sizing: border-box

html
  scroll-behavior: smooth

body
  font-family: 'Fira Code', monospace
  font-size: 16px

h1, h2, h3, h4, h5, h6
  font-family: 'EB Garamond', serif

a
  text-decoration: none
  transition: 0.5s all

.container
  max-width: 1140px
  margin: 0 auto
  border: red 1px solid